/*
.input {
    background-color: #ddddff;
    padding: 2px;
    margin: 0 3px;
    border-radius: 5px;
    border: double 3px;
}
.error {
    background-color: #ddddff;
    padding: 2px;
    margin: 0 3px;
    border-radius: 5px;
    border: double 3px red;
}
.but_add {
padding: 2px;
    margin: 2px;
}
*/
