.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: #61dafb;

}
.Todo {
  border: #61dafb 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.App-ul {
  text-align: left;
  color: black;

}
.App-ul-text {
  color: #8585d7;
}