.Todo {
    border: #61dafb 2px solid;
    background-color: #282c34;
    border-radius: 5px;
    padding: 0 10px 5px 10px;
    margin: 5px 10px;
}
.ButDelTL{
    position: absolute;
    bottom: 0;
    top: 5%;
    left: 15%;
    margin: 0 0 5px 0;
}
.active-filter {
    background-color: #8585d7;
}
.but_del {
    background-color: Gray;
    padding: 0;
    text-align: center;
    margin-left: 10px;
    font-size: x-small;
}
.ul {
    text-align: left;
    color: black;
    /*Универсальное свойство, позволяющее одновременно задать стиль маркера,
    его положение, а также изображение, которое будет использоваться в качестве маркера .
    Для подробного ознакомления смотрите информацию о каждом свойстве list-style-type,
    list-style-position и list-style-image отдельно.*/
}
.is_done{
    opacity: 0.5;
}